<ion-app>
  <!-- Yan Menü -->
  <ion-menu contentId="main-content" side="start" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Yönetim Paneli</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button detail="false" routerLink="/main" routerDirection="root">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          <ion-label>Ana sayfa</ion-label>
        </ion-item>
        <ion-item button detail="false" routerLink="/addPage" routerDirection="root">
          <ion-icon slot="start" name="add-outline"></ion-icon>
          <ion-label>Araç ekle</ion-label>
        </ion-item>
        <ion-item button detail="false" routerLink="/update" routerDirection="root">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          <ion-label>Araç Güncelle</ion-label>
        </ion-item>
        <ion-item button detail="false" routerLink="/delete" routerDirection="root">
          <ion-icon slot="start" name="trash-outline"></ion-icon>
          <ion-label>Araç Sil</ion-label>
        </ion-item>
        <ion-item button detail="false" routerLink="/login" routerDirection="root">
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
          <ion-label>Giriş yap</ion-label>
        </ion-item>
        <ion-item button detail="false" routerLink="/errorPage" routerDirection="root">
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
          <ion-label>Giriş yap</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Ana İçerik Alanı -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>